nav {
    background-color: lightskyblue;
    width: 100%;
    margin: 0%;
   
}
nav a {
    display: inline-block;
    padding: 10px 15px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 30px;
    
}

nav a:hover {
    background-color: gainsboro;
}

